version: "3"

services:
  #MySQL Database image
  wordpess_db:
    build: .
    ports:
      - "8090:80"
    restart: always
    volumes:
      - mysql_vol:/var/lib/mysql
    volumes:
      - wordpress_vol1:/var/www/html

volumes:
  mysql_vol: {}
  wordpress_vol1: {}                  
